<div>
  <h1>Book a Flight</h1>
  <body>
  <div class="elem-group">
    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
    <div class="mygrid">
    <label for="fullname">Full Name<br/></label>
    <input type="text" [ngModel]="flight.fullName" formControlName="FlightName">
    <span style="color: red;" *ngIf="submit && flightForm.get('FlightName')?.errors?.['required']">Please enter your name</span>
    <span style="color: red;" *ngIf="submit && flightForm.get('FlightName')?.errors?.['minlength']">Too short</span>
    </div>
    <div class="elem-group inlined">
    <label for="from">From</label>
    <select [ngModel]="flight.from" formControlName="FlightFrom">
      <option value='null' disabled>Choose Country</option>
      <option value="Korea">Korea</option>
      <option value="Thailand">Thailand</option>
      <option value="Singapore">Singapore</option>
      <option value="Vietnam">Vietnam</option>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightFrom')?.errors?.['required']">Plase select country</span>
    </select>
    </div>
    <div class="elem-group inlined">
    <label for="to">To</label>
    <select [ngModel]="flight.to" formControlName="FlightTo">
      <option value="null" disabled>Choose Country</option>
      <option value="Korea">Korea</option>
      <option value="Thailand">Thailand</option>
      <option value="Singapore">Singapore</option>
      <option value="Vietnam">Vietnam</option>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightTo')?.errors?.['required']">Plase select country</span>
    </select>
    </div>
    <div class="elem-group radio-group" >
    <label for="type">Trip Type</label><br/>
    <input type="radio"  [ngModel]="flight.type" formControlName="FlightType" value="One Way">One Way<br/>
    <input type="radio" [ngModel]="flight.type" formControlName="FlightType" value="Return">Return<br/>
    <span style="color: red;" *ngIf="submit && flightForm.get('FlightType')?.errors?.['required']">Plase select type</span>
    </div>
    <div class="elem-group">
      <label>Departure</label>
      <input type="date" [ngModel]="flight.departure" formControlName="FlightDepart">
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightDepart')?.errors?.['required']">Plase select date</span>
      <label>Arrival</label>
      <input type="date" [ngModel]="flight.arrival" formControlName="FlightArrive" >
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightArrive')?.errors?.['required']">Plase select date</span>
      <span style="color: red;" *ngIf="flightForm.errors">{{ flightForm.errors?.['dates'] | json}}</span>
    </div>
    <div class="elem-group">
      <label>Adults</label>
      <input type="number" [ngModel]="flight.adults" formControlName="FlightAdult">
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightAdult')?.errors?.['required']">Plase enter number</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightAdult')?.errors?.['min']">Invalid</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightAdult')?.errors?.['pattern']">Invalid</span>
      <label>Children</label>
      <input type="number" [ngModel]="flight.children" formControlName="FlightChild">
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightChild')?.errors?.['required']">Plase enter number</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightChild')?.errors?.['min']">Invalid</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightChild')?.errors?.['pattern']">Invalid</span>
      <label>Infants</label>
      <input type="number" [ngModel]="flight.infants" formControlName="FlightBaby">
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightBaby')?.errors?.['required']">Plase enter number</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightBaby')?.errors?.['min']">Invalid</span>
      <span style="color: red;" *ngIf="submit && flightForm.get('FlightBaby')?.errors?.['pattern']">Invalid</span>
    </div>
    <div class="center">
    <button type="submit" [disabled]="flightForm.invalid" (click)="onSubmitForm(flightForm)" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
  </body>
  <table class="table">
    <thead class="row header">
      <tr>
        <th>Full Name</th><th>From</th><th>To</th><th>Trip Type</th><th>Departure</th><th>Arrival</th><th>Adults</th><th>Children</th><th>Infants</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of flights">
      <td>{{f.fullName}}</td>
      <td>{{f.from}}</td>
      <td>{{f.to}}</td>
      <td>{{f.type}}</td>
      <td>{{f.departure| thaidate:'fullDate'}}</td>
      <td>{{f.arrival | thaidate:'fullDate'}}</td>
      <td>{{f.adults}}</td>
      <td>{{f.children}}</td>
      <td>{{f.infants}}</td>
      </tr>
    </tbody>
  </table>
</div>
